<div class="panel panel-primary" style="background-color:#337AB7;height:50px;border-radius:0;"></div>

<div class="container">
<div class="row col-md-6">
<div class="panel panel-primar" style="background-color:#FAFAFA">
<div class="panel-heading">Présentation de l'application</div>
<div class="panel-body">

Bienvenue sur ce site mise en place par BINATE Aliyou.<br/>
Cette plateforme est une Application Web développée à partir de la Technologie Angular 4.
Elle consomme L'Api Google Books afin de récupérer et d'afficher du contenu proposé par cette Api.<br/>
</div>
</div>
</div>
</div>
<router-outlet></router-outlet>
<app-search></app-search>
